body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  max-height: 780px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul, dl, dt, dd {
  all: unset;
}

ul, li {
  list-style: none;
}

main {
  margin-top: 10vh;
}
